@charset "UTF-8";

html{
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    color: #272727;
    scroll-behavior: smooth;
}

#header {
    max-width: 1920px;
    width: 100%;
    height: 190px;
    background-color: rgb(219, 215, 215);
    display: flex;
    justify-content: space-between;
    padding: 3%;
}
h1 img{
    width: 200px;
    height: 140px;
    object-fit: cover;
}
.navigation ul {
    display: flex;
}
.navigation li {
    margin: 0 10px;
    line-height: 150px;
    font-family: "Baskervville SC", serif;
}
.navigation li a {
    transition: all 0.5s 0.5s; 
}
.navigation li a:hover {
    transition: all 0.5s; 
    color:#bebcbc
}
.toggle-btn {
    display:none;
}
#mask {
    display: none;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
    text-align: center;
}
.container {
    padding: 3% 5%;
}

.fade {
    position: relative;
    overflow: hidden;
    width:100%;
    height: 100vh;
}
   /*=== 画像の設定 ======================================= */
.fade li {
    position   : absolute;
    opacity    : 0;
    animation  : slideAnime 10s ease infinite;
    width      : 100%;
    height     : 100vh;
}

.fade li img{
    width      : 100%;
    height     : 100vh;

}

   /*=== スライドのアニメーションを段差で開始する ========= */
.fade li:nth-of-type(1) { animation-delay: 0s }
.fade li:nth-of-type(2) { animation-delay: 5s }

   /*=== スライドのアニメーション ========================= */
@keyframes slideAnime{
    0% { opacity: 0 }
    25% { opacity: 1 }
    75% { opacity: 0 }
    100% { opacity: 0 }
}


/* about */
.section-title {
    text-align: center;
    position: relative;
    font-family: "Baskervville SC", serif;
}
.section-title::after {
    content: "";
    width: 115px;
    height: 2px;
    background-color: #9d9fa1;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%)
    
}
#about {
    border-bottom: 1px solid rgb(175, 174, 174);
}
.about-text {
    margin-bottom: 20px;
}
.slide-items {
    width: 100%;
    height: 30%;
}
.slide-items img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.item {
    display: flex;
    justify-content: center;
}
.item li{
    max-width: 300px;
    margin: 0 40px;
}
.item img {
    width: 100%;
    transition: all 1s;
}
.item img:hover {
    transform: scale(1.2);
    transition: all 1s;
}

.instructor img{
    width: 100%;
}
.instructor-item .text p {
    padding-bottom: 20px;
}
/* footer */
footer {
background-color: rgb(219, 215, 215);
}
.footer-1 {
    display: flex;
}
.sec-title {
    font-family: "Baskervville SC", serif;
    position: relative;
}
.sec-title::after {
    content: "";
    width: 90px;
    height: 2px;
    background-color: #9d9fa1;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.access {
    width: 50%;
}
.contact {
    width: 40%;
    margin: 0 30px;
}
.sns {
    width: 10%;
}
.contact dl {
    display: flex;
    flex-wrap: wrap;
}

.contact dd {
    font-family: "Baskervville SC", serif;
    width: 20%;
    margin-bottom: 30px;
}
.contact dt {
    width: 80%;
    margin-bottom: 30px;
}
.submit-btn {
    margin: 0 auto;
    background-color: #7c7979;
    width: 200px;
    text-align: center;
    transition: all 1s;
    
}
.submit-btn:hover {
    background-color: #bebcbc;
    transition: all 1s;
    
}
input,textarea {
    width: 100%;
    border: 1px solid #cfc8c8;
    padding: 20px;
}

.sns a {
display: block;
margin-bottom: 10px;
font-family: "Baskervville SC", serif;
transition: all 0.5s 0.5s; 
}
.sns a:hover {
    transition: all 0.5s; 
    color:#bebcbc
}
.footer-2{
    text-align: center;
    margin-top: 20px;
    font-size: xx-small;
}


/* classes */
h2 {
    margin: 50px 0 ;
    
}
#classes {
    text-align: center;
    max-width: 500px;
}
.title {
    font-family: "Baskervville SC", serif;
    margin-bottom: 20px;
}
.classes img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 30px 0;
}
.fadein {
        opacity: 0;
        transform: translateY(20px);
        transition: all 1s;
}

/* instructor */
.name {
    font-size: x-large;
    margin-bottom: 10px;
    font-family: "Baskervville SC", serif;
}

.instructor-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #efefef;
    border-radius: 40px;
    margin-bottom: 30px;
}
.instructor-photo {
    width: 300px;
    position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;

}
.instructor-photo::after {
    position: absolute;
	content: '';
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	box-shadow: inset 0 0 10px 10px #e4e1e1;
}
.instructor-item img{
    width: 100%;
}
.instructor-item .text {
    width: 50%;
    margin: 0 30px;
}
.instructor-item .text p {
    margin-top: 20px;
} 
.right-box, .left-box {
    margin-bottom: 50px;
}

.slide-left {
    animation: left-box 0.5s ease-out 0s 1 forwards;
}
.slide-right {
    animation: right-box 0.5s ease-out 0s 1 forwards;
}
@keyframes left-box {
0% {transform: translateX(-50%);
}
100% {transform: translateX(0);
    opacity: 1;
}
}
@keyframes right-box {
    0% {transform: translateX(50%);
    }
    100% {transform: translateX(0);
    opacity: 1;}
}

/* schedule */
.timeschedule, .yearschedule {
    max-width: 1100px;
    margin: 0 auto;
}
.timeschedule img, .yearschedule {
    width: 100%;

}
.timeschedule,
.schedule p {
    text-align: center;
}
.schedule p a {
    font-weight: 600;
    transition: all 0.5s; 
}
.schedule p a:hover {
    transition: all 0.5s; 
    color:#bebcbc
}


.recital {
    position: absolute;
    top: 30%;
    left: 50%;
}

/* table {
    border: 1px solid #b6afaf;;
    width:100%;
}
tr {
    vertical-align: top;
    background-color: #dbd6d6;
    color:#636161;
}
th {
    width: 120px;
    height: 100px;
}
.event {
    display:block;
    color:rgb(180, 59, 190);
} */

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
    /* テーブルレイアウトを固定 */
}
th {
    background-color: #cbcccc;
    border: 1px solid #979595;
    padding: 8px;
    /* text-align: center; */
    vertical-align: top;
    box-sizing: border-box; 
    /* パディングとボーダーを幅に含める */
    word-wrap: break-word; 
    /* 長い単語を折り返す */
    height: 100px;
    /* table-layout: fixed; */
}
th .event {
    display: block;
    color: #007bff;
    text-decoration: none;
    white-space: normal; 
    /* テキストの折り返しを有効にする */
    overflow-wrap: break-word; 
    /* 長い単語を折り返す */
    word-break: break-all;
     /* 単語内で折り返し */
}
th .event:hover {
    text-decoration: underline;
}

@media(max-width: 770px){
    .navigation  ul {
        flex-direction: column;
        }
    .navigation {
        position: fixed;
        left: -300px;
        z-index: 20;
        }
    .navigation  ul a {
        color: #bebcbc;
        margin: 0px;
    }
    .navigation li {
        line-height: 80px;
    }
    .toggle-btn {
        display: block;
        width: 40px;
        height: 40px;
        position: fixed;
        top:12px;
        right: 25px;
        z-index: 50;
        transition: all 0.5s;
        cursor: pointer;
    }
    .toggle-btn span {
        display: block;
        width: 100%;
        background-color: black;
        height: 2px;
        position: absolute;
        transition: all 0.5s;
    }

    .toggle-btn span:nth-of-type(1){
        top: 20%;
    }
    .toggle-btn span:nth-of-type(2){
        top: 45%;
    }
    .toggle-btn span:nth-of-type(3){
        top: 70%;
    }   

    .open .toggle-btn span:nth-of-type(1) {
        transform: rotate(-45deg);
        top: 50%;
    }

    .open .toggle-btn span:nth-of-type(2){
        display: none;
    }
    
    .open .toggle-btn span:nth-of-type(3) {
        transform: rotate(45deg) ;
        top: 50%;
    }

    #mask {
        display: block;
        width: 50%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: -50%;
        right: 0;
        position: fixed;
        background-color: black;
        opacity: 0.8;
        z-index: 10;
        transition: all 0.5s;
        visibility: hidden;
    }

    .open .navigation {
        left: 0px;
        transition: all 0.5s;
    }
    .open #mask {
        left:0;
        visibility: visible;
    }
    
.instructor .item{
    flex-direction: column;
    align-items:center
    }

    .item img:hover {
    transform: scale(1.0);
    }
    .footer-1 {
    flex-direction: column;
    }
    .access, .contact, .sns {
    width: 100%;
    text-align: center;
    }
    .sec-title::after {
    content: "";
    width: 90px;
    height: 2px;
    background-color: #9d9fa1;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%)
    }
    .access p {
        margin-bottom: 20px;
    }
    .contact {
        margin: 0;
    }
    .contact dl {
        flex-direction: column;
        text-align: center;
    }
    .contact dd {
        text-align: left;
        margin-bottom: 10px;
    }
    .contact dt {
        width: 100%;
    }
    th {
        font-size: 14px;
        padding: 5px;
    }
}

br {
    display: none;
}
.wrapper,
#classes p {
    text-align: left;
}
.schedule p {
    font-size: small;
}
@media(max-width: 428px){
    }